Checks: '-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-branch-clone,clang-analyzer-*,modernize-use-nullptr,performance-*'
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: '^.*/core/(include|src)/.*$'
